[submodule "SglXml"]
	path = SglXml
	url = https://github.com/SquareGearsLogic/SglXml.git
[submodule "SglStringUtils"]
	path = SglStringUtils
	url = https://github.com/SquareGearsLogic/SglStringUtils.git
